.toolbar {
  height: 70px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 10px;
  box-shadow: 0 4px 5px gray;
  z-index: 999;
}

.toolbar__btn {
  height: 35px;
  width: 35px;
  padding: 2.5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  background-size: cover;
  margin: 0 5px;
  transition: all ease .75s;
}

.toolbar__btn:disabled {
  cursor: default;
}

.toolbar__btn:disabled img{
  background-color: #fff;
  cursor: default;
}

.toolbar__btn-active {
  background-color: #ccc;
}

.toolbar__user-num{
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 auto;
  font-size: 18px;
}